
        <%- include('../partials/menu') -%>
<hr>
        <div class="container bg-dark">
               <span>this is the dashboard</span>
               <span>Lorem, ipsum dolor sit amet consectetur adipi
                   sicing elit. Consequatur numquam corporis debit
                   is ratione consequuntur doloribus possimus, et dolore aliquid doloremq
                   ue! Porro sint tempora quidem qui neque nostrum doloremque in similique!</span>
        </div>
        
            <!-- Header -->
        
            <%- include('../partials/header') -%>
            <div class="footer_bar bg-white" style="margin-top: 72px;">
            
                    <div class="container" style="">
                           
                        <div class="row" style="padding-bottom: 2em;">
                            <div class="col text-success">
                                <br>
                                    <center>Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
                                    </center>
                            </div>
                            
                        </div>
                    </div>
                </div>

    
</div>