
<footer class="main-footer">
    <strong>Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
    </strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b> by</b>  Erick Mgongo
    </div>
  </footer>