
<footer class="card" style="background-image:url(images/gradient2.jpeg) !important; background-size: cover; border:none !important; margin-bottom: 0px;" >
    <div class="footer_content">
        <div class="container" >
            <div class="row">

                <div class="container col-lg-7" >

                    <center><br>
                            <h2 class="footer_title text-light mt-3" style="border-color: green;">Get In Touch.</h2>
                            <form role="form" id="quickForm" action="/messages" method="POST" >
                            <%- include('./messages') -%>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1"></label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1"></label>
                      <input type="text" name="sendersname" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1"></label>
                      <input type="text" name="phone" class="form-control" id="exampleInputEmail1" placeholder="Enter phone">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="text-dark">Your Message</label>
                      <textarea name="message" rows="4" cols="30" class="text-dark form-control"> </textarea>
                    </div>

                  </div>
                  <!-- /.card-body -->
                  <div class="">
                    <button type="submit" class="btn btn-dark">Send</button>
                  </div>
                </form>
                    </center>

                </div>
                <!-- Footer Contact -->

                <div class="col-lg-4 footer_col">
                    <div class="footer_contact">
                        <div class="newsletter">
                                <div class="footer_title text-light">Quick Links</div><br>

                                <ul class="">

                                <li><a class="text-success" href="/">Home</a></li>
                                
                                <li><a class="text-success" href="/services">Services</a></li>
                                <li><a class="text-success" href="/projectz">Projects</a></li>
                                <li><a class="text-success" href="/skillz">Skills</a></li>
                                <li><a class="text-success" href="/about">About</a></li>
                                <li><a class="text-success" href="/contacts">Contact</a></li>

                                </ul>

                        </div>
                        <div class="footer_social">
                            <div class="footer_title text-light">Social</div>
                            <ul class="footer_social_list d-flex flex-row align-items-start justify-content-start text-success">
                                <li><a href="https://web.facebook.com/erick.eliab"><i class="fa fa-facebook text-success" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/erickeliab_dev/?hl=en"><i class="fa fa-instagram text-success" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/thrownstoneric1"><i class="fa fa-twitter text-success" aria-hidden="true"></i></a></li>
                                <li><a href="https://tz.linkedin.com/in/erick-mgongo-89848b172"><i class="fab fa-linkedin-in text-success" aria-hidden="true"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<nav class="navbar navbar-default  container" style="border-color: green; align-content: center;">
	<!-- Phone -->
	<div class="navbar-left">
		<a href="#tap" class="btn text-success" style="position: relative; border-color: green;"><h5>Top</h5></a>
	</div>



<hr>
</nav>
    <div class="footer_bar bg-white" id="futer">

        <div class="container">

            <div class="row " style="padding-bottom: 2em;">
                <div class="col text-success">
                    <br>
                        <center>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        </center>
                </div>

            </div>
        </div>
    </div>
</footer>
