
<header class="header">
    <div class="header_overlay"></div>
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
        <div class="logo">
            <a href="/">
                <div class="d-flex flex-row align-items-center justify-content-start">
                    <div><h1 class="text-green" style="background-color: white; border-bottom: green; border-bottom: groove; font-family: cursive;">M</h1></div>
                   
                    <div style="width:50%;">Mgongo</div>
                </div>
            </a>	
        </div>
        <div class="hamburger" ><i class="fa fa-bars float-left" aria-hidden="true"></i></div>
      
        <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
            
            <!-- User -->
            
        </div>
    </div>
    <nav class="navbar navbar-dark" style="">
                   <!-- Phone -->
                  <div class="navbar-left">
                    <a href="<%= data.cv[0].path %>" class="btn btn-success btn-sm text-light" style="border-color: white; border-radius: 30%;">cv</a>
<small class="text-success">pdf</small>
                    </div>
                  
                    <div class="nav-item navbar-right" >
                        <small >&nbsp;<a href="/users/login" class="text-success">admin</a>  &nbsp;</small> 
                    <img src="images/phone.svg"  style="height: 16px; width: 16px;" alt="https://www.flaticon.com/authors/freepik">
                    <small class="text-light">&nbsp; +255 754 385 888</small> 
               
                </div>

        
        </nav>
</header>
