
<header class="header bg-dark">
    <nav class="navbar navbar-light col-12 col-md-12">
        <div class="nav-item navbar-right" >
            <img src="images/phone.svg"  style="height: 16px; width: 16px;" alt="https://www.flaticon.com/authors/freepik">
            <small class="text-dark" style="color: dark !important;">&nbsp; +255 754 385 888</small> 
       
        </div>     
       </nav>
    <div class="header_overlay"></div>
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
        <div class="hamburger"  ><i class="fa fa-bars float-left text-success" style="font-size: x-large !important;" aria-hidden="true"></i></div>

        
        
      
        <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
            <div class="logo">
                <a href="/">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div><h1 class="text-green" style=" border-bottom: green; border-bottom: groove; font-family: cursive;">M</h1></div>
                       
                        <div style="width:50%;" class="text-white">Mgongo</div>
                    </div>
                </a>	
            </div>
            <!-- User -->
            
        </div>
    </div>
   
</header>
