
<header class="header">
    <div class="header_overlay"></div>
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
        <div class="logo">
            <a href="/">
                <div class="d-flex flex-row align-items-center justify-content-start">
                    <div><img src="images/fullstack.png" alt="image" style="height:60px;"></div>
                   
                    <div style="width:50%;">AmFullStack</div>
                </div>
            </a>	
        </div>
        <div class="hamburger" ><i class="fa fa-bars float-left" aria-hidden="true"></i></div>
      
        <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
            
            <!-- User -->
            
        </div>
    </div>
    <nav class="navbar navbar-secondary">
                   <!-- Phone -->
                  <div class="navbar-left">
                      <small>Skills</small>
                        <small>Projects</small>
                    </div>
                  
                    <div class="nav-item navbar-right">
                    <img src="images/phone.svg" class="" style="height: 16px; width: 16px;" alt="https://www.flaticon.com/authors/freepik">
                    <small class="">&nbsp; +255 754 385 888</small> 
               
                </div>

        
        </nav>
</header>
