<div class="menu background_image" style="">

	
	<!-- Navigation -->
	<div class="menu_nav">
		<ul>
		
			<li><a href="/">Home</a></li>
        	<li><a href="/about">About</a></li>
        	<li><a href="/services">Services</a></li>
				<li><a href="/contacts">Contact</a></li>
				<li><a href="/users/login">Administator</a></li>
				
			</ul>
		</ul>
	</div>
	<!-- Contact Info -->
	<div class="menu_contact">
		<div class="menu_phone d-flex flex-row align-items-center justify-content-start">
			<div><div><img src="images/phone.svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
			<div>+255 754 385 888</div>
		</div>
		<div class="menu_social">
			<ul class="menu_social_list d-flex flex-row align-items-start justify-content-start">
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
</div>