<div class="menu background_image" style="">
<h1 style="text-decoration: underline;" class="text-dark ml-4"  style=" border-bottom: green; border-bottom: groove; font-family: cursive !important; ">M</h1>

	<!-- Navigation -->
	<div class="">
		<ul>
		
			<li class="btn bg-white mb-2" style="border-color: green; width: 100px;"><a href="/" class="text-success" style=""><i class="fa fa-home" aria-hidden="true"></i> home </a></li>
			
			<li class="mt-2"><a href="/about"><small class="text-dark menui"><i class="fa fa-info-circle" aria-hidden="true"></i> about</small> </a></li>
        	<li class="mt-2"><a href="/services" class=""><small class="text-dark menui"><i class="fa fa-list" aria-hidden="true"></i> services</small> </a></li>
				<li class="mt-2"><a href="/contacts"><small class="text-dark menui"><i class="fas fa-address-book"></i> contact</small> </a></li>
				<li class="mt-2"><a href="/projectz"><small class="text-dark menui"><i class="fas fa-project-diagram"></i> projects</small></a></li>
				<li class="mt-2"><a href="/skillz"><small class="text-dark menui"><i class="fa fa-cogs" aria-hidden="true"></i>
 					skills</small> </a></li>
				<li class="mt-2"><a href="/users/login"><small class="text-dark menui"><i class="fas fa-user"></i> admin</small> </a></li>
				
			</ul>
		</ul>
	</div>
	<!-- Contact Info -->
	<div class="menu_contact" style="width: 80%;">
		<small class="m-3 text-dark">+255 754 385 888</small>
		<div class="menu_social">
			<ul class="menu_social_list d-flex flex-row align-items-start justify-content-start">
				<li><a href="https://web.facebook.com/erick.eliab"><i class="fa fa-whatsapp" aria-hidden="true"></i>></a></li>	
				<li><a href="https://tz.linkedin.com/in/erick-mgongo-89848b172"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
				<li><a href="https://tz.linkedin.com/in/erick-mgongo-89848b172">				<i class="fa fa-phone" aria-hidden="true"></i>	
				</a></li>
	
			</ul>
		</div>
	</div>
</div>