<div class="col-12 col-xs-12 col-sm-12 col-m-12 col-lg-12 col-xl-12"
style="background-image:url(images/gradient2.jpeg) !important; background-size: cover;">
      <center><h1 class="text-dark">About Me</h1></center>
</div>
