
<div class="jumbotron bg-white" style="margin-bottom: -2px;">
  <center><h2 class="col-md-3" style="font-family: monospace; text-decoration: underline;">Motivation</h2></center>
    <p class="text-dark" style="font-family: monospace;" >
       "Take the money in your wallet and invest it in your mind. And in return, your mind will fill up your wallet"
        <br id="alpha"> <h4 style="font-family: monospace;" >~ Benjamin Franklin</h4>
    </p>
</div>
