	<!-- Boxes -->

    <div class="boxes"style=" background-image:url(images/gradient.jpeg)">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="boxes_container d-flex flex-row align-items-start justify-content-between flex-wrap">

							<!-- Box -->
							<div class="box col-md-4 col-lg-4 col-xl-4 col-sm-4">
								<div class="background_image rouded" style="background-image:url(images/uiux2.jpeg)"></div>
								<div class="box_content d-flex flex-row align-items-center justify-content-start">
									<div class="box_left">
                                            <div class="box_title">UI/UX Design</div>
                                        </div>
										<div class="box_image">
											<a href="category.html">
												<!-- <div class="background_image" style="background-image:url(images/uiux.jpeg)"></div> -->
											</a>
										</div>
									</div>
									<div class="box_right text-center">
										
								</div>
							</div>

							<!-- Box -->
							<div class="box col-md-4 col-lg-4 col-xl-4 col-sm-4">
								<div class="background_image" style="background-image:url(images/reactjs.jpeg)"></div>
								<div class="box_content d-flex flex-row align-items-center justify-content-start">
									<div class="box_left">
                                            <div class="box_title">Frontend Development</div>
                                        </div>
										<div class="box_image">
											<a href="category.html">
												<!-- <div class="background_image" style="background-image:url(images/box_2_img.jpg)"></div> -->
											</a>
										</div>
									</div>
									<div class="box_right text-center">
										
								</div>
							</div>

							<!-- Box -->
							<div class="box col-md-4 col-lg-4 col-xl-4 col-sm-4 rounded">
								<div class="background_image" style="background-image:url(images/backend.jpeg)"></div>
								<div class="box_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="box_right text-center">
                                              <div class="box_title">Backend Engineering</div>
                                            </div>
									<div class="box_left">
										<div class="box_image">
											<a href="category.html">
												<!-- <div class="background_image" style="background-image:url(images/box_3_img.jpg)"></div> -->
											</a>
										</div>
									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>