<div class="site-blocks-cover inner-page py-5 bg-dark" data-aos="fade" style="margin-top:-20px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto order-md-2 align-self-start">
              <div class="site-block-cover-content">
              <h2 class="sub-title text-success">Skills Tech Tools</h2>
              <table class="table  table-dark">
                    <thead>

                      <tr class="rounded">

                      </tr>
                    </thead>
                    <tbody>
                      <% var a = 0;

                      data.skills.forEach(skill => {
                        a += 1;
                        if (a <= 5) {


                        %>
                        <tr>
                        <td><%= skill.skillname %></td>
                        <td><%= skill.competence %></td>

                      </tr>
                      <%
                      }

                      });

                      %>





                    </tbody>
                  </table>


              </div>
            </div>
            <div class="col-md-6 order-1 align-self-end">

                    <br>
                    <img src="images/competence.jpeg" class="mb-10 img rounded" alt="">

                              <br>     <br>
                                         <p><a href="/skillz" class="btn btn-success mt-20 rounded-6">More Skills</a></p>

            </div>
          </div>
        </div>
      </div>
