<section class="bg-light" style="padding-top:10px;padding-bottom:10px; ">
 <div class="container"></div>
    <center>
            <div class="container row">    
                <div class="container col-md-6 col-sm-6 col-lg-6 col-6">
                        <a href="" class="float-left text-warning  col-md-3 col-sm-4 col-lg-4 ">Quick Message</a>

                </div>  
                <div class="container col-md-6 col-sm-6 col-lg-6 col-6">
                        <a href="" class="float-right text-primary  col-md-3 col-sm-4 col-lg-4 ">Download CV</a>

                </div>  

                </div>
                <br>
                <h2>What do i do?</h2>
    </center>

</section>