<div class="footer_content">
    <div class="container">
        <div class="row">
            
            <!-- About -->
            <div class="col-lg-4 footer_col ">
                <div class="footer_about">
                    <div class="footer_logo">
                        <a href="#">
                            <div class="d-flex flex-row align-items-center justify-content-start">
                                <div class="footer_logo_icon"><img src="" alt=""></div>
                                <div>Education</div>
                            </div>
                        </a>		
                    </div>
                    <div class="footer_about_text" >
                        <p class="text-dark">Currently parsuing a barchelor degree  of science in 
                          Information Technology and Systems at Mzumbe University that is from 2017 to 2020
                        </p>
                        <p class="text-dark">Certifiied with Certificate of Advanced Secondary Education in 2017, Awarded Certificate of Ordinary Secondary Education in 2014, Certificate of Primary Education in 2010</p>

                      </div>
                    <br>              <p><a href="#" class="btn btn-success mt-20 rounded-0">More</a></p>

                </div>
            </div>
              <!-- Projects -->
              <div class="col-lg-8 bg-light">
                  <br><br>
                
                    <center><span style="font-size: 3em;" class="text-dark"><b>Projects</b></span></center>
                                <div class="container">
                    
                                        <table class="table table-hover">
                                                <thead>
                                                  <tr>
                                                    
                                                    <th scope="col">Project</th>
                                                    <th scope="col">Tools </th>
                                                    <th scope="col">Completed</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <% data.projects.forEach(project => {
                                                    %>
                                                    <tr>
                                                    <td><%= project.projectname%></td>
                                                    <td><% project.tools.forEach(tool => { %>
                                                      <%= tool %>
                                                      <%
                                                    });
                                                    
                                                      %></td>
                                                    <td><%= project.completed %>%</td>
                                                  </tr>
                                                  <%
                                                  }); 
                                                  
                                                  %>
                                                  
                                                </tbody>
                                              </table>
                                              <br>              <p><a href="#" class="btn btn-success mt-20 rounded-0">More</a></p>
                                              <br> 
                                </div>                    
                </div>

            <!-- Projects -->
           

           
        </div>
    </div>
</div>
