<div class="home_slider_container">
  <div class="owl-carousel owl-theme home_slider">

   
      <!-- Slide -->
      <div class="owl-item">
          <div class="background_image" style="background-image:url(images/mern.jpeg); filter: brightness(40%);" ></div>
          <div class="container fill_height">
            <div class="row fill_height">
              <div class="col fill_height">
                <div class="home_container d-flex flex-column align-items-center justify-content-start">
                  <div class="home_content">
                    <div class="home_title">Proficient in JavaScript World</div>
                    <div class="home_subtitle">Lets build Apps and APIs together</div>
                    <div class="home_items">
                      <div class="row">
                        <div class="col-sm-3 offset-lg-1">
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                          <div class="product home_item_large">

                            <div class="product_content">
                              <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                <b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>

                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
  <!-- Slide -->
<div class="owl-item">
  <div class="background_image" style="background-image:url(images/hero2.jpeg); filter: brightness(40%);"></div>
  <div class="container fill_height">
    <div class="row fill_height">
      <div class="col fill_height">
        <div class="home_container d-flex flex-column align-items-center justify-content-start">
          <div class="home_content">
            <div class="home_title">You deserve</div>
            <div class="home_subtitle">More than just a coder</div>
            <div class="home_items">
              <div class="row">
                <div class="col-sm-3 offset-lg-1">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                  <div class="product home_item_large">

                    <div class="product_content">
                      <div class="product_info d-flex flex-row align-items-start justify-content-start">
                        <b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- Slide -->
 <div class="owl-item">
  <div class="background_image" style="background-image:url(images/laravel.jpeg); filter: brightness(40%);" ></div>
  <div class="container fill_height  col-12 col-lg-12 col-md-12" >
    <div class="row fill_height">
      <div class="col fill_height">
        <div class="home_container d-flex flex-column align-items-center justify-content-start">
          <div class="home_content">
            <div class="home_title">Hire Me</div>
            <div class="home_subtitle">for your website</div>
            <div class="home_items">
              <div class="row">
                <div class="col-sm-3 offset-lg-1">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                  <div class="product home_item_large">

                    <div class="product_content" style="width: 100% !important;">
                      <div class="product_info d-flex flex-row align-items-start justify-content-start">
                        <b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slide -->

    <!-- Slide -->
    <div class="owl-item">
        <div class="background_image" style="background-image:url(images/asp.jpeg); filter: brightness(40%);"></div>
        <div class="container fill_height">
          <div class="row fill_height">
            <div class="col fill_height">
              <div class="home_container d-flex flex-column align-items-center justify-content-start">
                <div class="home_content">
                  <div class="home_title">Get the most out of me</div>
                  <div class="home_subtitle">With old technologies</div>
                  <div class="home_items">
                    <div class="row">
                      <div class="col-sm-3 offset-lg-1">
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                        <div class="product home_item_large">

                          <div class="product_content">
                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                              <b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>

                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <!-- Slide -->
      <div class="owl-item">
          <div class="background_image" style="background-image:url(images/hero3.jpeg); filter: brightness(40%);"></div>
          <div class="container fill_height">
            <div class="row fill_height">
              <div class="col fill_height">
                <div class="home_container d-flex flex-column align-items-center justify-content-start">
                  <div class="home_content">
                    <div class="home_title">Exposure</div>
                    <div class="home_subtitle">With lots of Stacks and Databases</div>
                    <div class="home_items">
                      <div class="row">
                        <div class="col-sm-3 offset-lg-1">
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
                          <div class="product home_item_large">

                            <div class="product_content">
                              <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                <b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>

                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!-- Slide -->
  </div>
  <div class="home_slider_nav home_slider_nav_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div class="home_slider_nav home_slider_nav_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

  <!-- Home Slider Dots -->

  <div class="home_slider_dots_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_slider_dots">
            <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-center">
              <li class="home_slider_custom_dot active">01</li>
              <li class="home_slider_custom_dot">02</li>
              <li class="home_slider_custom_dot">03</li>
              <li class="home_slider_custom_dot">04</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
