<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') -%>
</head>
<body style="background-image:url(images/gradient.jpeg); background-size: cover;" 	class="hold-transition sidebar-mini layout-fixed"
>
<%- body %>
<%- include('partials/scripts') -%>
</body>
</html>