<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') -%>
</head>
<body style="background-color: white;" 	class="hold-transition sidebar-mini layout-fixed" id="tap"
>
<style>
.navrow:hover{
  text-decoration: none !important;
}

.menui:hover {
  border-color: black;
  border-style: initial;
  color: green !important;

  background-color: honeydew;
}

.menui{
 font-size: medium;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.activew{
  border-color: black;
  border-style: initial;
  color: green !important;

  background-color: black;
}
.activ{
  border-color: black;
  border-style: initial;
  color: green !important;
  font-weight: bolder;
  font-size: 1rem !important;
  
}
</style>
<%- body %>
<%- include('partials/scripts') -%>
</body>
</html>
