<%- include('partials/menu') -%>

<div class="super_container">

	<!-- Header -->

    <%- include('partials/header') -%>

    <div class="" style="margin-top: 10em;"></div>
    <center><h1 class="text-dark">Skills</h1></center>
    <div class="bg-light" style="padding-top: 2em; border-top-style: groove; border-top-color: lightgreen;">
         

		<!-- SECTION 3 -->
<%- include('partials/section3') -%>


			<!-- example-->
			
                <br>
                <%- include('partials/footer') -%>
            </div>
   

</div>

