<%- include('partials/menu') -%>

<div class="super_container">

	<!-- Header -->

    <%- include('partials/header') -%>
    <div class="super_container_inner">
      <div class="super_overlay"></div>


    <div class="col-12 col-xs-12 col-sm-12 col-m-12 col-lg-12 col-xl-12"
    style="background-image:url(images/Hacker-4.jpg) !important; background-size: cover; margin-top: 0em; padding-top: 10em;">
          <center><h1 class="text-light">Skills</h1></center>
    </div>
    <div class="bg-light" style="padding-top: 1em; ">


		<!-- SECTION 3 -->
<%- include('partials/section30') -%>


			<!-- example-->


                <%- include('partials/footer') -%>
            </div>
</div>

</div>
